/*app.css*/


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
  background-color: #f2f2f2;
}

.left-side {
  width: 20%;
  background-color: white;
  color: #fff;
  padding: 20px;
  padding-top: 5px;
  padding-right: 0;
  display: flex;
  font-size: 31px;
  flex-direction: column;
  
}
.left-side-heading {
  color: black;
  font-size: 31px;
  font-weight:500;
}
.right-side {
  flex: 2;
  width: 80%;
  background-color: #F7ECDC;
  border-left: 1px solid #ddd;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.add-group-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.add-group-box input {

  padding: 10px;
  margin-bottom: 10px;
}

.top button{
  background-color: black;
  font-size:16px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  border-radius: 50px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  margin-left: 15px;
  width: 78%;
  justify-content: center;
}
.group-list ul {
  list-style-type: none; 
  padding: 0;
  cursor: pointer;
  background-color: white;
}

.group-list li {
  background-color: white;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none; 

  margin-top:10px;
}
.note-list ul{
  list-style: none;
}
.group-list li:hover {
  background-color: #F7ECDC;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}



.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}

.Home-top {
  margin-top: 100px;
  text-align: center;
  margin-bottom: auto; 
}

.Home-bottom {
  text-align: center;
  display: flex;
  align-items:center;
  text-align: center;
}

.Home-bottom p{
  margin-left: 8px;
}